.portfolio
{
  display: flex;
  flex-direction: column;
}

.portfolio h2
{
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.portfolio h3
{
    font-size: 20px;
    margin-bottom: 20px;
}

img
{
  width: 370px;
}

.left img
{
  float: left;
  margin-right: 15px;
  margin-top: 40px;
}

.social #link a
{
  color: inherit;
  text-decoration: none;
}

.social #link
{
  float: left;
  text-align: center;
}

.social #link img
{
  float: none;
  width: 50px;
  margin: 15px 15px 5px 15px;
}
.social #link:hover
{
  opacity: .6;
}
