.skills
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.skills h1
{
  padding-bottom: 20px;
  font-size: 30px;
}

.skills h2
{
  padding-bottom: 40px;
  font-size: 20px;
}
