.app
{
  height: 100vh;
  padding: 20px;
  background-image: url('./20150711_201748.jpg');
  background-size:cover;
  background-position:center;
}

.info
{
  background-color: #454444;
  height: 80vh;
  overflow-y: scroll;
  margin-top: 20px;
  opacity: .8;
  padding: 30px;
  color: white;
}
