.nav
{
  background-color: #454444;
  /*height: 5vh;*/
  /*width: 95vw;*/
  /*position: fixed;*/
  opacity: .8;
  padding: 10px;
  /*z-index: 3;*/
}
.nav ul
{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.nav a
{
  text-decoration: none;
  /*float: right;*/
  padding: 5px;
  padding: 5px;
  color: white;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.nav a:hover
{
  border: 2px solid white;
  border-radius: 10px;
}
